<!-- Language List -->
{{- if site.IsMultiLingual }}
<select id="select-language" onchange="location = this.value;">
    {{ $siteLanguages := site.Languages}}
    {{ $pageLang := .Page.Lang}}
    {{ range .Page.AllTranslations }}
    {{ $translation := . }}
    {{ range $siteLanguages }}
    {{ if eq $translation.Lang .Lang }}
    {{ $selected := false }}
    {{ if eq $pageLang .Lang}}
    <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>
        {{ .Params.Icon }} {{ .LanguageName }}
    </option>
    {{ else }}
    <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">
        {{ .Params.Icon }} {{ .LanguageName }}
    </option>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
</select>
{{ end }}