<div class="widget">
    {{ if .IsHome }}
    <div class="text-xs uppercase text-gray-400 font-medium mb-6">
        {{ i18n "recentPosts" }}
    </div>
    {{else}}
    <div class="widget-title">{{ i18n "recentPosts" }}</div>
    {{end}}
    <ol class="recent-widget widget-content">
        {{ $currentPage := . }}
        {{ $articles := where .Site.Pages "Type" "article" }}
        {{ $articles = where $articles "Title" "!=" "Articles" }}
        {{ $others := $articles | complement (slice $currentPage) }}

        {{- range first 5 $others -}}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end -}}
    </ol>
</div>