{{ $data := index site.Data site.Language.Lang }}

{{ if $data.cta.cta.enable }}
{{ with $data.cta.cta }}
{{"<!-- Portfolio Section -->" | safeHTML}}
<section class="py-20 bg-gray-200 dark:bg-gray-700">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap justify-center items-center -mx-3">
            <div class="w-full lg:w-1/2 mb-8 text-center lg:text-left">
                <h2 class="text-3xl mb-4 lg:text-4xl font-bold font-heading">
                    {{ .title | safeHTML}}
                </h2>
                <p class="text-blueGray-400">{{ .content }}</p>
            </div>
            <div class="w-full lg:w-1/2 px-3">
                <div class="flex flex-wrap max-w-lg mx-auto">
                    <div class="flex w-full md:w-2/3 px-3 mb-3 md:mb-0 md:mr-6 bg-blueGray-100 rounded">
                        <svg class="h-6 w-6 my-auto text-blueGray-500" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                        </svg>
                        {{ $email := (i18n "typeEmail") }}
                            <input id="email-cta" class="w-full pl-3 py-4 text-xs text-blueGray-400 font-semibold leading-none bg-blueGray-100 outline-none" type="text" placeholder="{{ $email }}">
                    </div>
                    <button class="main-button"
                            type="submit" id="send-email">
                        {{ i18n "subscribe" }}</button>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
{{end}}