{{ $data := index site.Data site.Language.Lang }}

{{ if $data.service.service.enable}}
{{ with $data.service.service}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="bg-white dark:bg-gray-600">
    <div class="container mx-auto items-center">
        {{ partial "sections/section-title.html" . }}
        <div class="container mx-auto flex flex-wrap my-8 justify-center">
            <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
                {{ range .service_item}}
                <div class="max-w-sm rounded overflow-hidden shadow-xl cursor-pointer rounded card-services">
                    <div class="px-6 py-4">
                        <div class="items-center text-center justify-center mt-3">
                            {{ partial "fontawesome.html" .icon }}
                        </div>
                        <h3 class="font-bold mb-2">{{ .name | markdownify }}</h3>
                        <hr>
                        <p class=" text-base">
                            {{ .content | markdownify}}
                        </p>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</section>
{{end}}
{{end}}