{{ $data := index site.Data site.Language.Lang }}

{{ if $data.service.service.enable}}
{{ with $data.service.service}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="bg-gray-200 dark:bg-gray-600">
    <div class="container mx-auto">
        {{ partial "shared/section-title.html" . }}
        <div class="shuffle-wrapper grid grid-cols-1 md:grid-cols-3 items-center justify-center my-6 md:my-12">
            {{"<!-- portfolio item --> " | safeHTML}}
            {{ range .service_item}}
            <div class="m-4 bg-gray-200 dark:bg-gray-700 rounded">
                <div class="card-services rounded transform -translate-x-3 -translate-y-3">
                    <div class="px-3">
                        <div class="text-center pt-6">
                            {{ partial "shared/fontawesome.html" .icon }}
                        </div>
                        <h3 class="font-bold mb-2">{{ .name | markdownify }}</h3>
                        <hr>
                        <p class=" text-base">
                            {{ .content | markdownify}}
                        </p>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</section>
{{end}}
{{end}}