{{ partial "shared/doctype.html" }}
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
    {{ partial "shared/head.html" . }}
    {{ partial "shared/body-start-tag.html"}}
    {{ partial "shared/header.html" . }}
        <div id="page-wrapper">
            <div class="body">
                <div class="body-max-width">
                    {{- block "main" . }}{{- end }}
                </div>
            </div>
            {{ partial "shared/footer.html" . }}
        </div>
        {{ partial "searchbox.html" . }}
        {{- partial "shared/add-js.html" . -}}
    <a id="toTop" href="#" class="flex justify-center">
        <i>{{ partial "shared/fontawesome.html" "angle-up" }}</i>
    </a>
    </body>
</html>
