{{ partial "shared/doctype.html" }}
<html>
    {{ partial "shared/head.html" . }}
    {{ partial "shared/body-start-tag.html"}}
        <div id="page-wrapper">
            {{ partial "shared/header.html" . }}
            <div class="body">
                <div class="body-max-width">
                    <main id="content" x-ref="content">
                        {{- range .Paginator.Pages }}
                            <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                        {{- end }}

                        {{ partial "paging-navigation.html" . }}
                    </main>
                    <aside id="sidebar">
                        {{ partial "shared/recent-articles-widget.html" . }}
                        {{ partial "shared/tag-cloud.html" . }}
                        {{ partial "shared/categories-widget.html" . }}
                    </aside>
                </div>
            </div>            
            {{ partial "shared/footer.html" . }}
        </div>
        {{ partial "lightbox.html" . }}
        {{ partial "searchbox.html" . }}
    </body>
</html>
