{{ define "main" }}
    {{ $aboutStyles := resources.Get "styles/about-bundle.scss" | toCSS | minify | fingerprint "sha512" }}
    <link rel="stylesheet" type="text/css" href="{{ $aboutStyles.RelPermalink }}" integrity="{{ $aboutStyles.Data.Integrity }}" media="screen, tv, projection">
    <main id="content" x-ref="content">
        {{- .Content -}}
        <script>
            document.querySelector('figure img').addEventListener('click', evt => {
                if (evt.detail === 3)
                    evt.target.classList.toggle('effect');
            });
        </script>
        {{- partial "contact-info.html" -}}
    </main>
    <aside id="sidebar">
        {{ partial "recent-articles-widget.html" . -}} {{- partial "tag-cloud.html" . -}} {{- partial "categories-widget.html" . -}}
    </aside>
{{end}}