
.main-banner {
  background-size: cover;
  min-height: 1000px;
  background: url(/images/backgrounds/hero-area.webp) no-repeat fixed center center;
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 0;
    opacity: .6;
  }

  /* Increase/decrease the pixels if needed */
  /* For all devices with a screen size smaller than 1366px, the background-attachment property will be scroll instead of fixed */

  @media only screen and (max-device-width: $small-size-max-width) {
    background-attachment: scroll;
  }
}


.heading-banner {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 1;

  h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 62px;
    text-transform: uppercase;
  }

  p {
    font-size: 22px;
    padding: 20px 0;
  }

  h3 {
    color: #ffffff;
  }

  @media only screen and (max-device-width: $small-size-max-width) {
    h1 {
      font-size: 50px;
    }

    p {
      font-size: 18px;
    }

  }
}

.ityped-cursor {
  font-size: 2.2rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

.cd-headline {
  span {
    display: inline-block;
    padding: .2em 0;
    color: #ffffff;
    font-size: 30px;

    b {
      text-transform: uppercase;
    }
  }
}

.roles-array {
  display: none;
}

#clouds {
  margin-top: -5%;
  position: relative;
  z-index: 1;
}

#clouds path {
  fill: var(--cloud-background-color);
  bottom: -10px;
  overflow: hidden;
  stroke: var(--cloud-background-color);;
}