{{ $data := index site.Data site.Language.Lang }}

{{ if $data.about.about.enable }}
{{ with $data.about.about }}
{{"<!-- Start About Section -->" | safeHTML}}
<section id="about" class="bg-one-inverse section"
         style='background-image: url("{{ site.Params.bg_image_webp | absURL }}")'>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="message-box">
					{{"<!-- section title -->" | safeHTML }}
					<div class="about-title wow fadeIn" data-wow-duration="500ms">
						<h2>{{ .title }}</h2>
					</div>
					{{ range .about_me}}
					<p> {{ .text | markdownify }} </p>
					{{ end }}
					{{ range .buttons }}
						<a href="{{ if .target }}{{ .button_link }}{{else}}{{ .button_link | absURL }}{{end}}"  target="{{ .target }}"
						   class="sim-btn btn-hover-new" data-text="{{ .button_title }}">
							<span>{{ .button_title }}</span>
						</a>
					{{end}}
				</div><!-- end messagebox -->
			</div><!-- end col -->

			<div class="col-md-6">
				<div class="right-box-pro wow fadeIn">
					<img src="{{ .picture | absURL }}" alt="{{ .title }}" class="img-fluid img-rounded lozad">
				</div><!-- end media -->
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</section><!-- end section -->
{{"<!-- /about -->" | safeHTML}}
{{ end }}
{{ end }}
