<div class="entry-meta">
    <time class="published" datetime='{{ time .Date }}'>
        <svg class="icon icon-calendar">
            <use xlink:href="#icon-calendar"></use>
        </svg>
        {{ dateFormat "2 January 2006" .Date }}
    </time>
    {{ if .Content }}
    {{ $readingWordsPerMinute := 220 }}
    {{ if $readingWordsPerMinute }}
    {{ $readingWordsPerMinute := .Site.Params.ReadingWordsPerMinute }}
    {{end}}
    <span class="mx-5">
        {{ i18n "readingTime" }}: {{ math.Round (div (countwords .Content) $readingWordsPerMinute) }} {{ i18n "minutes" }}.
    </span>
    {{end}}
    {{ if .Params.Author}}
    <span class="list-inline-item">
        {{ i18n "author" }} :
        <a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.Author }}</a>
    </span>
    {{end}}
</div>