<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="{{ .Site.BaseURL | relLangURL }}">
			{{ if site.Params.logo }}
			<img class="img-fluid" data-src="{{ site.Params.logo | absURL }}" alt="{{ .Site.Title }}" height="42" src="images/logo.png">
			{{ else }}
			{{ site.Title }}
			{{ end }}
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu
			<i class="fa fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav text-uppercase ml-auto">
				{{ range site.Menus.main }}
				<li class="nav-item">
					<a class="nav-link" href="{{if .Pre}}{{site.BaseURL | absLangURL}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{ .Name }}</a>
				</li>
				{{ end }}
			</ul>
			<!-- Language List -->
			{{- if site.IsMultiLingual }}
			<select id="select-language" onchange="location = this.value;">
				{{ $siteLanguages := site.Languages}}
				{{ $pageLang := .Page.Lang}}
				{{ range .Page.AllTranslations }}
				{{ $translation := .}}
				{{ range $siteLanguages }}
				{{ if eq $translation.Lang .Lang }}
				{{ $selected := false }}
				{{ if eq $pageLang .Lang}}
				<option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
				</option>
				{{ else }}
				<option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
				{{ end }}
				{{ end }}
				{{ end }}
				{{ end }}
			</select>
			{{ end }}
		</div>
	</div>
</nav>
