{{ $element := .}}
{{with $element}}
<div class="lg:flex items-center">
    <div class="lg:w-1/2 text-center md:text-right">
        <div class="p-2 m-2">
            <div class="text-right text-xl capitalize">
                <h2 class="transition duration-500 ease-in-out font-black tracking-widest my-3 text-gray-800 dark:text-white">
                    {{ with .Title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}
                    <span class="text-neon-500">
                                {{ with .Title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}
                            </span>
                </h2>
            </div>
            <p class="text-gray-500 dark:text-gray-400 mt-4 text-right">
                {{ .Summary }}
            </p>
            <div class="flex flex-row justify-end my-4">
                <button class="main-button mr-2 uppercase" onclick="window.location.href='{{ .Permalink }}'">
                    {{ i18n "moreDetails" }}
                </button>
                <button class="main-button mr-2 uppercase" onclick="window.location.href='{{ .Params.Link }}'">
                    {{if eq .Params.Link (.Params.Link | absLangURL) }}
                    <span>{{ i18n "moreDetails" }}<i class="ml-2">{{ partial "shared/fontawesome.html" "link-solid" }}</i></span>
                    {{else}}
                    <span>{{ i18n "seeItOnline" }}<i class="ml-2">{{ partial "shared/fontawesome.html" "external-link" }}</i></span>
                    {{end}}
                </button>
            </div>
        </div>
    </div>
    <div class="mt-8 lg:mt-0 lg:w-1/2">
        <div class="flex items-center justify-center lg:justify-end">
            <img src="{{ .Params.Image_webp | absURL }}" data-src="{{ .Params.Image | absURL}}" alt=""
                 class="object-cover max-h-96">
        </div>
    </div>
</div>
{{end}}