{{ $data := index site.Data site.Language.Lang }}

{{ if $data.service.service.enable}}
{{ with $data.service.service}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="section lb">
	<div class="container">
		<div class="section-title text-left">
			<h3>{{ .title }}</h3>
			<p>{{ .content }}</p>
		</div>
		{{"<!-- end title -->" | safeHTML }}
		<div class="row">
			{{ range .service_item}}
			{{"<!-- Single Service Item -->" | safeHTML }}
				<div class="col-md-4">
				<div class="services-inner-box">
					<div class="ser-icon">
						<i class="{{ .icon}}"></i>
					</div>
					<h2>{{ .name }}</h2>
					<p>{{ .content }}</p>
				</div>
			</div>
			{{"<!-- end col -->" | safeHTML }}
			{{end}}
		</div><!-- end row -->
	</div><!-- end container -->
</section>
<!-- end section -->
{{"<!-- /service -->" | safeHTML }}
{{ end }}
{{ end }}
