{{define "main"}}
<main id="content" x-ref="content" class="mt-36 md:mt-14 container mx-auto">
    {{ $options := (dict "title" (i18n "aboutAuthor")) }}
    {{ partial "shared/section-title.html" $options }}
    <section class="mt-10">
        <div class="card border w-1/2 hover:shadow-none relative flex flex-col mx-auto shadow-lg m-5">
            <img class="max-h-20 w-full opacity-80 absolute top-0" style="z-index:-1" src="{{.Params.Imagebg | relURL }}" alt="" />
            <div class="profile w-full flex m-3 ml-4 text-white">
                <img class="w-32 h-32 p-1 bg-white rounded-full" src="{{.Params.Image | relURL }}" alt=""/>
                <div class="title mt-11 ml-3 font-bold flex flex-col">
                    <div class="name break-words">{{ .Title }}</div>
                    <div class="add font-semibold text-sm italic dark">{{ .Params.Rol }}</div>
                </div>
                <div class="flex justify-center my-2 remove-link-css-background">
                    {{ range .Params.Social }}
                    <a href="{{.url}}" class="">
                        <i class="flex items-center justify-center h-9 w-9 mx-1 rounded-full bg-gray-800 fill-current text-white text-xl hover:bg-neon-500 hover:text-gray-800">
                            {{ partial "shared/fontawesome.html" .icon }}
                        </i>
                    </a>
                    {{end}}
                </div>
            </div>
            <div class="buttons flex absolute bottom-0 font-bold right-0 text-xs text-gray-500 space-x-0 my-3.5 mr-3">
                <div class="add border rounded-l-2xl rounded-r-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">{{i18n "authorsPosts"}} : {{ len (where site.RegularPages "Params.author" .Title) }}</div>
                 <div class="add border rounded-r-2xl rounded-l-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">Bio</div>
            </div>
        </div>
        <!-- card end -->
    </section>

    <section>
        <div class="container mx-auto">
            {{ $options := (dict "title" (i18n "authorsPosts")) }}
            {{ partial "shared/section-title.html" $options }}
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-5">
                {{ range first 3 (where site.RegularPages "Params.author" .Title) }}
                {{ .Render "article" }}
                {{ end }}
            </div>
        </div>
    </section>
</main>
{{end}}